<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <meta charset="utf-8"/>
    <meta name="description" content="CSS 403 Error, an exercise about chaining css animations by RGG"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable = yes"/>
    <link rel="icon" th:href="@{/favicon/favicon-96x96.png}"/>
    <link rel='stylesheet prefetch' th:href='@{/css/404.css}'/>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'/>
</head>
<body>
<section class="hero is-fullheight is-info">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h3 class="title is-1">
                    <a href="https://momo.vn">
                        <i class="fa fa-map-signs" aria-hidden="true"></i>
                        <strong>500</strong>
                    </a>
                </h3>
                <h2 class="title is-2" th:text="${helloWord}">

                </h2>
            </div>
        </div>
        <div class="hero-foot">
            <div class="container">
                <div class="tabs is-centered">
                    <ul>
                        <li><a href="#">Coffeine - Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
<script th:src='@{/js/jquery-3.1.1.js}'></script>
</body>
</html>
